# Node
node_modules
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env.local
.env.*.local

# Build artifacts
*.tsbuildinfo
